.page-container {
	margin-top: 30px;
}

.breadcrumb {
	padding: 12px 15px 0;
	list-style: none;
	background-color: transparent;
	margin-bottom: 0;
}
.panel .panel-heading .pagination select.input-sm {
	font-size: 12px;
	border-radius: 0;
	padding: 5px 9px 7px 9px;
	margin-top: 5px;
}

.table-responsive .summary {
	display: none;
}

/* SEARCH FORM */
.form-search {
	border-bottom: 1px solid #ddd;
	padding: 3px;
}

.panel .form-inline .form-group:first-child {
	margin-top: 0;
}
.panel .form-inline .form-group .col-sm-2 {
	padding-top: 6px;
}

.form-inline .advance-search .form-group {
	display: block;
}

.form-search .form-group .dropdown-menu .row {
	margin-bottom: 5px;
}

.form-search .form-group .dropdown-menu .row {
	margin-bottom: 5px;
}

.form-search .form-group .dropdown-menu .row.buttons div {
	text-align: right;
}



/* REQUIRED FIELDS */
div.required label:after {
    content: " *";
    color: red;
}

/* ADVANCED SEARCH */
.advanced-search .form-group {
	display: block;
}
.form-horizontal.advanced-search .form-control {
	display: block;
	width: 100%;
}

/* GRID FOOTER */
.table-footer .table-actions .btn {
	margin-right: 5px;
}

.checkbox-b div.checkbox {
	float: left;
	width: 100px;
}

div.inline div.checkbox {
	display: inline-block;
	vertical-align: middle;
	font-weight: 400;
	cursor: pointer;
	padding-left: 0;
	padding-top: 7px;
	margin-top: 0;
	margin-bottom: 5px;
}

div.inline div.checkbox:first-child label {
	padding-left: 0;
}
/* ERRORS / SUCCESS */
div.has-error div.select2-container a.select2-choice, div.has-error iframe.wysihtml5-sandbox {
	border-color: #D65C4F !important;
}

div.has-success div.select2-container a.select2-choice, div.has-success iframe.wysihtml5-sandbox {
	border-color: #239169 !important;
}

